# JetBrains IntelliJ
.idea/
*.iml

# Build output
out/
target/
build/

# Java artefacts
*.class
*.jar
*.war
*.ear

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/

# Gradle
.gradle/
gradle-app.setting

# Logs and temp
*.log
*.tmp

# IDEs y editores
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
